html{
  body{
    section {
      &.main-bg-image {
        margin-top: 50px;
        height: 650px;
        width: 100%;
        overflow: hidden;
        //background-image: url("/images/index-bg.jpg");
        background-position: center center;
        background-size: cover;
      }
      &.slider-index {
        #carousel-index {

          .carousel-inner {
            margin-top: 40%;
            .item {
              .image {
                padding-right: 0px !important;
                padding-left: 0px !important;
              }
            }
          }
        }
      }
    }
    .container{
      &.site{
        &.index{
          padding: 0px 15px 0px;
        }
        .tabs-index{
          position: relative;
          top: -40px;
          .nav-tabs {
            border-bottom: none;
            li {
              a {
                color: $header-text-color;
                border-radius: 0px;
                border: none;
                &:hover {
                  background: #000000;
                  color: white;
                }
              }
              &.active {
                a {
                  background: $tabs-black-with-opacity;
                }
              }
            }
          }
          .panel-row{
            padding: 30px 0px;
          }
        }
      }
    }
    .wrap {
      #main-calendar-kvdate{
        display: block;
        position: absolute;
        margin-left: -45px;
        margin-top: 9px;
        button{
          background: #737373;
          border: none;
          border-radius: 0px;
        }
      }
      #custom-header{
        .navbar-left {
          li {
            border-left: 1px solid #808080;
            border-right: 1px solid #808080;
          }
        }
      }
      .custom-title{
        text-align: center;
        margin-bottom: 20px;
        border-bottom: 1px solid $border-grey;
      }
      .custom-btn{
        outline: none;
        border: none;
        border-radius: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #ffffff;
        font-weight: 600;
      }
      .modal-footer {
        .btn{
          margin-bottom: 10px;
          margin-top: 10px;
        }
      }
    }
  }
}