$header: rgba(60, 61, 68, 0.13);
$header-text-color: rgba(0, 0, 0, 0.88);
$header-text-color-hover: rgba(0, 0, 0, 0.74);

$footer: grey;
$footer-btn: #41abff;
$footer-text-color: rgba(0, 0, 0, 0.88);
$footer-text-btn: #d6d6d6;

